fastapi
uvicorn[standard]
python-multipart
pypdf
qdrant-client
python-dotenv
google-generativeai
pymupdf
pytesseract
Pillow

# Authentication dependencies
passlib[bcrypt]
bcrypt
python-jose[cryptography]
cryptography
